header {
    padding-top: 10rem;
}

.img-button {
    width: 168px;
}

.phone-img {
    width: 268px;
}

.hero-image {
    position: relative;
    width: 100%;
}

.hero-image::after {
    content: "";
    display: block;
    position: absolute;
    width: 418px;
    height: 418px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 0;
    border-radius: 50%;
    background: rgb(41, 55, 240);
    background: linear-gradient(
        145deg,
        rgba(41,55,240,1) 0%,
        rgba(159,26,226,1) 100%
    );
}

.shape-2 {
    position: absolute;
    height: 0.75rem;
    width: 0.75rem;
    fill: #2937f0;
    top: 12%;
    right: 15%;
}

.shape-1 {
    position: absolute;
    height: 1rem;
    width: 1rem;
    transform: rotate(-10deg);
    fill: #2937f0;
    bottom: 15%;
    left: 10%;
}